{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<div class="col-lg-11 mt-4 mb-4" data-bottom-top="transform: translateY(100px)" data-top-bottom="transform: translateY(-10px)" style="">
	<div class="form-wrapper style-1 text-vr-wrapper">
		<div class="text-vertical">درخواست بیمار</div>
		<div class="form-body bg-primary background-blend-burn" style="background-image: url(../../static/images/bg2.png); background-size: cover">
			<div class="title-head">
				<h2 class="form-title m-b0">درخواست بیمار را <span>بررسی </span> <br>کنید!</h2>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-6 m-b30">
						<div class="form-floating floating-underline input-light">
							{{ form.first_name }}
							<label for="{ form.name.id_for_label }}">نام</label>
						</div>
					</div>
					<div class="col-sm-6 m-b30">
						<div class="form-floating floating-underline input-light">
							{{ form.last_name }}
							<label for="{ form.last_name.id_for_label }}">نام خانوادگی</label>
						</div>
					</div>
					<div class="col-sm-6 m-b30">
						<div class="form-floating floating-underline input-light">
							{{ form.phone }}
							<label for="{{ form.phone.id_for_label }}">شماره تماس</label>
						</div>
					</div>
					<div class="col-sm-6 m-b30">
						<div class="form-floating floating-underline input-light">
							{{ form.category }}
							<label for="{{ form.category.id_for_label }}">تخصص</label>
						</div>
					</div>
					<div class="col-sm-6 m-b30">
						<div class="form-floating floating-underline input-light">
							{{ form.request }}
							<label for="{{ form.request.id_for_label }}">متن</label>
						</div>
					</div>
					<div>
						<h3 class="text-danger">شما مجاز به ویرایش این بخش نیستید!</h3>
						<h4>
							در فرم زیر میتوانید اطلاعات قابل ویرایش را ویرایش کنید.
						</h4>
					</div>
					<hr class="m-t30">
					<div class="col-sm-6 m-t30 ">
						<div class="form-floating floating-underline input-light h-25">
							{{ form.status }}
							<label for="{{ form.status.id_for_label }}">وضغیت</label>
						</div>
					</div>
					<div class="col-sm-6 m-t30 h-25">
						<div class="form-floating floating-underline input-light">
							{{ form.note }}
							<label for="{{ form.note.id_for_label }}">یادداشت شما</label>
						</div>
					</div>
					<div class="col-sm-6 m-t30 h-25">
						<div class="form-floating floating-underline input-light">
							{{ form.meet_date }}
							<label for="{{ form.meet_date.id_for_label }}">زمان ملاقات</label>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" name="submit_first_form" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow mt-4">ثبت</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}