{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html'%}

<main class="page-content">
			<div class="dz-bnr-inr dz-banner-dark overlay-secondary-middle dz-bnr-inr-md h-50" style="background-image:url(../../static/images/bnr1.webp);">
		<div class="container">
			<div class="dz-bnr-inr-entry d-table-cell">
				<h1 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">ارتباط با ما</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="% url 'home' %}">خانه</a></li>
						<li class="breadcrumb-item">ارتباط با ما</li>
					</ul>
				</nav>
				<div class="dz-btn">
					<a href="tel:+11234567890" class="btn btn-lg btn-icon btn-primary radius-xl btn-shadow mb-3 mb-sm-0">
						<span class="left-icon">
							<i class="feather icon-phone-call"></i>
						</span>
						+1 123 456 7890
					</a>
				</div>
			</div>
		</div>
		<span class="text-vertical">24/7 سرویس اضطراری</span>
		<ul class="dz-social">
			<li>
				<a href="https://www.instagram.com" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com" target="_blank">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com" target="_blank">
					<i class="fa-brands fa-x-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com" target="_blank">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</li>
		</ul>
	</div>

		<section class="content-inner">
			<div class="container">
				<div class="row g-xl-4 align-items-center">
					<div class="col-xl-7 pe-xl-4 m-b10">
						<div class="section-head style-1 m-b30">
							<h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s"> برای <br> نیازهای مراقبت های بهداشتی با ما در ارتباط باشید </h2>
							<p class="small wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s"> برای پشتیبانی ، بازخورد یا برنامه ریزی قرار ملاقات ، دسترسی پیدا کنید.فرم را پر کنید ، و ما به سرعت به شما کمک می کنیم و بازدید شما را با متخصصان مراقبت های بهداشتی ما تأیید می کنیم.</p>
						</div>
						<div class="clearfix m-b60 m-lg-b30">
							<div class="d-flex align-items-center m-b15 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
								<div class="info-widget style-12 m-r10 bg-light">
									<div class="avatar-group">
										<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'images/avatar1.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'images/avatar2.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'images/avatar3.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'images/avatar4.webp'%}" alt="">
									</div>
									<div class="clearfix">
										<span> با بیش از 215 دکتر صحبت کنید </span>
									</div>
								</div>
								<a href="#" class="btn btn-square btn-xl btn-light btn-rounded">
									<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 17L17 7" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M7 7H17V17" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</a>
							</div>
							<div class="widget-rating3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
								<ul class="star-list">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<span class="rating">(4.8)</span>
								<span class="text">12 هزار امتیاز در گوگل</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
								<div class="icon-bx-wraper style-8 box-hover">
									<div class="icon-bx">
										<span class="icon-cell">
											<i class="feather icon-map-pin"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="dz-title">آدرس</h4>
										<p>یک آدرس کاملا فرضی در اینجاست </p>
									</div>
								</div>
							</div>
							<div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
								<div class="icon-bx-wraper style-8 box-hover">
									<div class="icon-bx">
										<span class="icon-cell">
											<i class="feather icon-phone"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="dz-title">تماس با ما</h4>
										<p><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
								<div class="icon-bx-wraper style-8 box-hover">
									<div class="icon-bx">
										<span class="icon-cell">
											<i class="feather icon-mail"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="dz-title"> برای ما نامه ارسال کنید </h4>
										<p>
											<a href="mailto:info@example.com" class="text-body">info@example.com</a>
											<a href="mailto:clinicmaster@example.com" class="text-body">clinicmaster@example.com</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
								<div class="icon-bx-wraper style-8 box-hover">
									<div class="icon-bx">
										<span class="icon-cell">
											<i class="feather icon-clock"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="dz-title">ساعات کاری</h4>
										<p>شنبه - چهارشنبه: 8 صبح - 5 عصر : 8:00 صبح -1:00 عصر</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-5 m-b30" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
						<div class="form-wrapper style-1">
							<div class="form-body bg-primary background-blend-burn" style="background-image: url(../../static/images/bg2.png); background-size: cover;">
								<div class="section-head style-1 m-b30">
									<h2 class="title text-white m-b0"> در تماس باشید </h2>
									<p class="text-white m-b0 fw-medium">در هر زمانی حاضر هستیم</p>
								</div>
								<form method="POST">
									{% csrf_token %}
									<div class="dzFormMsg"></div>
									<div class="row">
										<div class="col-sm-6 m-b30">
											<div class="form-floating floating-underline input-light">
												{{ form.first_name }}
												<label for="inputYourFirstName">نام</label>
											</div>
										</div>
										<div class="col-sm-6 m-b30">
											<div class="form-floating floating-underline input-light">
												{{ form.last_name }}
												<label for="inputYourLastName">نام خانوادگی</label>
											</div>
										</div>
										<div class="col-sm-6 m-b30">
											<div class="form-floating floating-underline input-light">
												{{ form.phone }}
												<label for="inputYourPhoneNumber">شماره تماس</label>
											</div>
										</div>
										<div class="col-sm-12 m-b30">
											<div class="form-floating floating-underline input-light">
												{{ form.request }}
												<label for="inputYourRequest">پیام</label>
											</div>
										</div>
										<div class="col-sm-12">
											<button type="submit" name="submit" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
												ارسال <span class="right-icon"><i class="feather icon-arrow-left"></i></span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% include 'footer.html' %}
{% endblock %}