{% load static %}
	<footer class="site-footer style-1 overlay-primary-light">
		<div class="footer-head">
			<div class="container">
				<div class="fh-inner">
					<div class="row g-3 align-items-center">
						<div class="col-xl-3 col-md-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<h3 class="title">با ما در تماس باشید</h3>
							<p class="text">لورم ایپسوم متن ساختگی</p>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
</svg>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">تماس با ما</h5>
									<p><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
</svg>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title"> برای ما نامه ارسال کنید </h5>
									<p><a href="mailto:info@example.com" class="text-body">info@example.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
</svg>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">ساعات کاری</h5>
									<p>دوشنبه - پنج شنبه: 7:00 - 17:00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-12 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="widget widget_about me-2">
							<div class="footer-logo logo-white">
								<a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" alt=""></a>
							</div>
							<p><span class="text-primary">کلینیک مستر</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> پیوندهای مفید </h2>
							<ul class="list-hover1">
								<li><a href="javascript:void(0);"><span> سیاست حفظ حریم خصوصی </span></a></li>
								<li><a href="javascript:void(0);"><span> شرایط و ضوابط </span></a></li>
								<li><a href="{% url 'contact-us' %}"><span>ارتباط با ما</span></a></li>
								<li><a href="{% url 'contact-us' %}"><span> نقشه سایت ما </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> فروشگاه های ما </h2>
							<ul class="list-hover1">
								<li><a href="javascript:void(0);"><span> نیویورک </span></a></li>
								<li><a href="javascript:void(0);"><span> لندن  </span></a></li>
								<li><a href="javascript:void(0);"><span> ادینبورگ </span></a></li>
								<li><a href="javascript:void(0);"><span> لس آنجلس </span></a></li>
								<li><a href="javascript:void(0);"><span> لاس وگاس </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> پیوندهای سریع </h2>
							<ul class="list-hover1">
								<li><a href="{% url 'about-us' %}"><span>درباره ما</span></a></li>
								<li><a href="{% url 'add-appointment' %}"><span> قرار ملاقات </span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item1">
			<div class="info-widget style-4">
				<div class="widget-media">
					<img src="{% static 'images/avatar6.webp' %}" alt="">
				</div>
				<div class="widget-content">
					<h6 class="title">سوالی دارید؟</h6>
					<a href="mailto:info@example.com">info@example.com</a>
					<span class="text">جانی ویتی</span>
				</div>
			</div>
		</div>

	</footer>
	<!-- Footer End -->