{% load static %}
	<footer class="site-footer style-1 overlay-primary-light" style="background-image: url(../../static/images/bg4.webp)">
		<div class="footer-head">
			<div class="container">
				<div class="fh-inner">
					<div class="row g-3 align-items-center">
						<div class="col-xl-3 col-md-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<h3 class="title">با ما در تماس باشید</h3>
							<p class="text">لورم ایپسوم متن ساختگی</p>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<i class="feather icon-phone"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">تماس با ما</h5>
									<p><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<i class="feather icon-mail"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title"> برای ما نامه ارسال کنید </h5>
									<p><a href="mailto:info@example.com" class="text-body">info@example.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-secondary">
									<span class="icon-cell">
										<i class="feather icon-clock"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">ساعات کاری</h5>
									<p>دوشنبه - پنج شنبه: 7:00 - 17:00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-12 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="widget widget_about me-2">
							<div class="footer-logo logo-white">
								<a href="index.html"><img src="{% static 'images/logo.svg' %}" alt=""></a>
							</div>
							<p><span class="text-primary">کلینیک مستر</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> پیوندهای مفید </h2>
							<ul class="list-hover1">
								<li><a href="javascript:void(0);"><span> سیاست حفظ حریم خصوصی </span></a></li>
								<li><a href="javascript:void(0);"><span> شرایط و ضوابط </span></a></li>
								<li><a href="contact-us.html"><span>ارتباط با ما</span></a></li>
								<li><a href="contact-us.html"><span> نقشه سایت ما </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> فروشگاه های ما </h2>
							<ul class="list-hover1">
								<li><a href="javascript:void(0);"><span> نیویورک </span></a></li>
								<li><a href="javascript:void(0);"><span> لندن  </span></a></li>
								<li><a href="javascript:void(0);"><span> ادینبورگ </span></a></li>
								<li><a href="javascript:void(0);"><span> لس آنجلس </span></a></li>
								<li><a href="javascript:void(0);"><span> لاس وگاس </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.8s">
						<div class="widget widget_services">
							<h2 class="footer-title"> پیوندهای سریع </h2>
							<ul class="list-hover1">
								<li><a href="about-us.html"><span>درباره ما</span></a></li>
								<li><a href="appointment.html"><span> قرار ملاقات </span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item1">
			<div class="info-widget style-4">
				<div class="widget-media">
					<img src="{% static 'images/avatar6.webp' %}" alt="">
				</div>
				<div class="widget-content">
					<h6 class="title">سوالی دارید؟</h6>
					<a href="mailto:info@example.com">info@example.com</a>
					<span class="text">جانی ویتی</span>
				</div>
			</div>
		</div>

	</footer>
	<!-- Footer End -->