{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'header.html' %}
	<main class="page-content">
			<div class="hero-banner style-1" style="background-image: url(../../static/images/bg2.png); background-size: cover;">
		<div class="container">
			<div class="inner-wrapper">
				<span class="text-vertical text-secondary">24/7 سرویس اضطراری</span>
				<div class="row align-items-end h-100">
					<div class="col-lg-6 align-self-center">
						<div class="hero-content">
							<h1 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">مراقبت های پزشکی و بهداشتی <span class="text-primary">خدمات</span> <img src="{% static 'images/line.png' %}" alt=""></h1>
							<p class="text wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">سلامتی شما اولویت اصلی ما است.امروز با ما قرار ملاقات بگذارید</p>
							{% if request.user.authenticated %}
							<a href="{% url 'add-appointment' %}" class="btn btn-lg btn-icon btn-primary m-r20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
									نوبت دهی
							</a>
							{% else %}
							<a href="#AppForm" class="btn btn-lg btn-icon btn-primary m-r20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
									نوبت دهی

							</a>
							{% endif %}
							<a href="{% url 'contact-us' %}" class="btn btn-lg btn-icon btn-secondary wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
								تماس با ما
							</a>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="hero-thumbnail" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
							<img class="thumbnail" src="{% static 'images/img1.webp' %}" alt="">
							<div class="circle-wrapper">
								<span class="circle1"></span>
								<span class="circle2"></span>
								<span class="circle3"></span>

								<div class="item1">
									<img src="{% static 'images/heart.png' %}" alt="">
								</div>
							</div>
							<div class="item2" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
								<div class="info-widget style-1 move-3">
									<div class="avatar-group">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar1.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar2.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar3.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar4.webp' %}" alt="">
									</div>
									<div class="clearfix ms-2">
										<span class="number text-primary">150 هزار</span>
										<span> بیمار بهبود یافته </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item5" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
					<div class="info-widget style-4 move-4">
						<div class="widget-media">
							<img src="{% static 'images/avatar6.webp'%}" alt="">
						</div>
						<div class="widget-content">
							<h6 class="title">سوالی دارید؟</h6>
							<a href="mailto:info@example.com">info@example.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<section class="content-inner-3 bg-secondary background-blend-multiply bg-img-fix" style="background-image: url(../../static/images/bg2.png); background-repeat: no-repeat; background-position: left center; background-size: cover;">
			<div class="container">
				<div class="row align-items-sm-center">
					<div class="col-lg-3 col-12 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="avatar-group m-b20">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar1.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar2.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar3.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar4.webp' %}" alt="">
						</div>
						<h2 class="text-white font-20 m-b0 fw-medium">300+ رزرو برای این هفته تأیید شد</h2>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">200</span>+</span>
							<h3 class="title text-white m-b0"> متخصصان </h3>
						</div>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">45</span>هزار</span>
							<h3 class="title text-white m-b0"> بیماران خوشحال </h3>
						</div>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">150</span>+</span>
							<h3 class="title text-white m-b0"> جوایز برنده </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
			<section class="content-inner-2 bg-light z-2" id="AppForm" style="background-image: url(../../static/images/bg5.png);">
		<div class="container">
			<div class="row align-items-end content-wrapper style-8">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
					<img src="{% static 'images/img4.png' %}" alt="/">
				</div>
				{% if request.user.is_authenticated %}
				<div class="col-lg-6" data-bottom-top="transform: translateY(100px)" data-top-bottom="transform: translateY(-10px)">
					<div class="form-wrapper style-1 text-vr-wrapper">
						<div class="text-vertical">نوبت بگیرید</div>
						<div class="form-body bg-primary background-blend-burn" style="background-image: url(../../static/images/bg2.png); background-size: cover">
							<div class="title-head">
								<h2 class="form-title m-b0">رزرو یک <span>نوبت </span> <br>برای درمانی راحت</h2>
							</div>
							<form method="POST">
								{% csrf_token %}
								<div class="dzFormMsg"></div>
								<div class="row">
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											{{ first_form.first_name }}
											<label for="{ first_form.first_name.id_for_label }}">نام</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											{{ first_form.last_name }}
											<label for="{ first_form.last_name.id_for_label }}">نام خانوادگی</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											{{ first_form.phone }}
											<label for="{{ first_form.phone.id_for_label }}">شماره تماس</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											{{ first_form.request }}
											<label for="{{ first_form.request.id_for_label }}">متن</label>
										</div>
									</div>
									<div class="col-sm-12">
										<button type="submit" name="submit_first_form" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
											نوبت‌دهی
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% else %}
				<div  class="col-lg-6" data-bottom-top="transform: translateY(100px)" data-top-bottom="transform: translateY(-10px)" align="center">
					<div>
						<p>
							<h2>برای ثبت نوبت حتما باید <span>حساب</span> بسازید !!</h2>
						</p>
					</div>
				</div>
				<form class=style-1" method="post">
					{% csrf_token %}
					<div class="dzSubscribeMsg"></div>
					<div class="form-group">
						<div class="input-group mb-0">
							{{ second_form.email }}
							<div class="input-group-addon w-25">
								<input name="submit_second_form" value="مشترک شوید" type="submit"  class="btn btn-primary btn-hover1 w-100"/>
							</div>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
		</div>
	</section>
	</main>

			<section class="content-inner overlay-secondary-dark background-blend-luminosity bg-img-fix overflow-hidden" style="background-image: url(../../static/images/bg1.webp); background-repeat: no-repeat; background-position: right center; background-size: cover;">
		<div class="container">
			<div class="row content-wrapper style-7 align-items-center">
				<div class="col-lg-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">
					<div class="content-media">
						<div class="" style="border-radius: 10px">
							<img src="{% static 'images/img5.webp' %}" class="rounded" alt="">
						</div>
						<div class="item1">
							<div class="info-widget style-11 bg-primary text-center opacity-50">
								<span class="content-text text-white"><span class="counter">20</span>+</span>
								<h3 class="title m-b0 text-white">سال <br>  تجربه</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 m-b30">
					<div class="section-head style-1 m-b30">
						<h2 class="title text-white m-b0 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">چرا ما را برای نیازهای مراقبت های بهداشتی خود انتخاب کنید </h2>
					</div>
					<div class="row row-wrapper g-5">
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">تجربه های بیشتر</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">مراقبت از یکپارچه</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">پاسخ های درست؟</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">تخصص بی نظیر</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% include 'footer.html' %}
<script src="{% static 'JavaScript/imagesloaded-2.js' %}"></script>

{% endblock %}