{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'header.html' %}
	<main class="page-content">

			<div class="hero-banner style-1" style="background-image: url(../../static/images/bg4.webp); background-size: cover;">
		<div class="container">
			<div class="inner-wrapper">
				<span class="text-vertical text-secondary">24/7 سرویس اضطراری</span>
				<div class="row align-items-end h-100">
					<div class="col-lg-6 align-self-center">
						<div class="hero-content">
							<h1 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">مراقبت های پزشکی و بهداشتی <span class="text-primary">خدمات</span> <img src="{% static 'images/line.png' %}" alt=""></h1>
							<p class="text wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">سلامتی شما اولویت اصلی ما است.امروز با ما قرار ملاقات بگذارید</p>
							<a href="appointment.html" class="btn btn-lg btn-icon btn-primary m-r20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
									نوبت دهی
									<span class="right-icon"><i class="feather icon-arrow-left"></i></span>
							</a>
							<a href="contact-us.html" class="btn btn-lg btn-icon btn-secondary wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
								تماس با ما
								<span class="right-icon"><i class="feather icon-arrow-left"></i></span>
							</a>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="hero-thumbnail" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
							<img class="thumbnail" src="{% static 'images/img1.webp' %}" alt="">
							<div class="circle-wrapper">
								<span class="circle1"></span>
								<span class="circle2"></span>
								<span class="circle3"></span>

								<div class="item1">
									<img src="{% static 'images/heart.png' %}" alt="">
								</div>
							</div>
							<div class="item2" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
								<div class="info-widget style-1 move-3">
									<div class="avatar-group">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar1.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar2.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar3.webp' %}" alt="">
										<img class="avatar rounded-circle avatar-sm border border-white border-2" src="{% static 'images/avatar4.webp' %}" alt="">
									</div>
									<div class="clearfix ms-2">
										<span class="number text-primary">150 هزار</span>
										<span> بیمار بهبود یافته </span>
									</div>
								</div>
							</div>
							<div class="item4" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
								<div class="info-widget style-3 move-1">
									<div class="widget-head">
										<div class="widget-media">
											<img src="{% static 'images/avatar5.webp' %}" alt="">
										</div>
										<div class="widget-content">
											<h6 class="title"> دکتر ناتالی جکسون </h6>
											<ul class="star-list">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
										</div>
									</div>
									<p>"این یک واقعیت طولانی است که یک خواننده از محتوای قابل خواندن پریشان می شود"</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item5" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
					<div class="info-widget style-4 move-4">
						<div class="widget-media">
							<img src="{% static 'images/avatar6.webp'%}" alt="">
						</div>
						<div class="widget-content">
							<h6 class="title">سوالی دارید؟</h6>
							<a href="mailto:info@example.com">info@example.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<section class="content-inner-3 bg-secondary background-blend-multiply bg-img-fix" style="background-image: url(../../static/images/bg2.png); background-repeat: no-repeat; background-position: left center; background-size: cover;">
			<div class="container">
				<div class="row align-items-sm-center">
					<div class="col-lg-3 col-12 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="avatar-group m-b20">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar1.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar2.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar3.webp' %}" alt="">
							<img class="avatar rounded-circle border border-white border-3" src="{% static 'images/avatar4.webp' %}" alt="">
						</div>
						<h2 class="text-white font-20 m-b0 fw-medium">300+ رزرو برای این هفته تأیید شد</h2>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">200</span>+</span>
							<h3 class="title text-white m-b0"> متخصصان </h3>
						</div>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">45</span>هزار</span>
							<h3 class="title text-white m-b0"> بیماران خوشحال </h3>
						</div>
					</div>
					<div class="col-lg-3 col-4 m-b30 d-flex wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="content-bx style-1 mx-auto">
							<span class="content-text text-white"><span class="counter">150</span>+</span>
							<h3 class="title text-white m-b0"> جوایز برنده </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
			<section class="content-inner-2 bg-light z-2" style="background-image: url(../../static/images/bg5.png);">
		<div class="container">
			<div class="row align-items-end content-wrapper style-8">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
					<img src="{% static 'images/img4.png' %}" alt="/">
				</div>
				<div class="col-lg-6" data-bottom-top="transform: translateY(100px)" data-top-bottom="transform: translateY(-10px)">
					<div class="form-wrapper style-1 text-vr-wrapper">
						<div class="text-vertical">نوبت بگیرید</div>
						<div class="form-body bg-primary background-blend-burn" style="background-image: url(../../static/images/bg2.png); background-size: cover">
							<div class="title-head">
								<h2 class="form-title m-b0">رزرو یک <span>نوبت </span> <br>برای درمانی راحت</h2>
							</div>
							<form action="script/contact_smtp.php" class="dzForm" method="POST">
								<input type="hidden" class="form-control" name="dzToDo" value="Appointment">
								<input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
								<div class="dzFormMsg"></div>
								<div class="row">
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											<input name="dzName" type="text" class="form-control" id="inputYourName" placeholder="نام">
											<label for="inputYourName">نام</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											<input name="dzEmail" type="email" class="form-control" id="inputYourEmail" placeholder="ایمیل">
											<label for="inputYourEmail">ایمیل</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											<input name="dzPhoneNumber" type="text" class="form-control dz-number" id="inputPhoneNumber" placeholder="شماره تماس">
											<label for="inputPhoneNumber">شماره تماس</label>
										</div>
									</div>
									<div class="col-sm-6 m-b30">
										<div class="form-floating floating-underline input-light">
											<select name="dzOther[Services]" class="bs-select" data-style="form-control" title="انتخاب خدمت">
												<option value="آنژیوپلاستی">آنژیوپلاستی</option>
												<option value="قلب شناسی">قلب شناسی</option>
												<option value="دندانپزشکی">دندانپزشکی</option>
												<option value="چشم پزشکی">چشم پزشکی</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12 m-b30">
										<div class="form-floating floating-underline input-light">
											<textarea name="dzMessage" class="form-control" id="inputMessage" rows="6" placeholder="انتخاب خدمت"></textarea>
											<label for="inputMessage">پیام</label>
										</div>
									</div>
									<div class="col-sm-12">
										<button type="submit" name="submit" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
											نوبت‌دهی <span class="right-icon"><i class="feather icon-arrow-left"></i></span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</main>

			<section class="content-inner overlay-secondary-dark background-blend-luminosity bg-img-fix overflow-hidden" style="background-image: url(../../static/images/bg1.webp); background-repeat: no-repeat; background-position: right center; background-size: cover;">
		<div class="container">
			<div class="row content-wrapper style-7 align-items-center">
				<div class="col-lg-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">
					<div class="content-media">
						<div class="" style="border-radius: 10px">
							<img src="{% static 'images/img5.webp' %}" alt="">
						</div>
						<div class="item1">
							<div class="info-widget style-11 bg-primary text-center">
								<span class="content-text text-white"><span class="counter">20</span>+</span>
								<h3 class="title m-b0 text-white">سال <br>  تجربه</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 m-b30">
					<div class="section-head style-1 m-b30">
						<h2 class="title text-white m-b0 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">چرا ما را برای نیازهای مراقبت های بهداشتی خود انتخاب کنید </h2>
					</div>
					<div class="row row-wrapper g-5">
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">تجربه های بیشتر</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">مراقبت از یکپارچه</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">پاسخ های درست؟</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.7s">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<img src="{% static 'images/check.svg' %}" alt="">
									</span>
								</div>
								<div class="icon-content">
									<h3 class="dz-title">تخصص بی نظیر</h3>
									<p>ما طیف گسترده ای از خدمات درمانی را برای پاسخگویی به تمام نیازهای شما ارائه می دهیم.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% include 'footer.html' %}
{% endblock %}